body {
    /* background-image: url("img/skflag.png"); */
    background-color: darkgreen;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}


.mainlogotitle {
    display: flex;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    z-index: 1;
}

.logodisplay {
    width: 75px;
    height: 75px;
    padding:2px;
}

.navbar {
    margin: 10px;
}

.dropbtn {

    background-color: chartreuse;
    color: black;
    padding: 20px 20px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: peru;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: hidden;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(205, 112, 112);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(0,0,0,0.2);
}
.carousel {
    width:100vw;
    height:150vh;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    justify-content: center;
}

.slide img {
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;

}

.slide video {
    display:block;
    max-width:80%;
    max-height:80%;
    object-fit:cover;
    object-position:center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel img {
    display: block;
    height: 750px;
}
.carousel ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
button.left-button,
button.right-button {
    background: none;
    top: 25%;
    position: absolute;
    cursor: pointer;
    border: none;
    width: auto;
    z-index: 2;
    padding: 0;
    opacity: 0.5
}

button.left-button:hover,
button.right-button:hover,
button.right-button:focus,
button.left-button:focus{
    opacity: 1
}

button.right-button{
    right: 0.5rem;
}
button.left-button{
    left: 0.5rem;
}
.left-button img,
.right-button img {
    width: 30px;
    height: 30px;

}
@media screen and (max-width: 600px){
    background-image: flex: 1;

}